/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/chat.css");

.convUnreadTargetedCount {
  padding: 2px 7px;
}

.convUnreadCount,
.contactDisplayName,
.convDisplayName,
.contactStatusText,
.convStatusText {
  margin-top: 2px;
}

#listSplitter,
#contextSplitter,
.splitter[orient="vertical"],
 #logsSplitter {
  appearance: none;
}

.im-placeholder-button-box > button {
  padding-inline: 8px;
}

/* Adaptation from #folderTree */
:root:not([lwt-tree]) #listPaneBox {
  background-color: -moz-OddTreeRow;
}

#listPaneBox > * {
  background: transparent !important;
  appearance: none !important;
  border: none;
}

.conv-textbox > .textbox-input-box {
  background: inherit;
}

.conv-counter {
  padding-bottom: 0;
  padding-inline-end: 5px;
  margin-inline-end: 2px;
  margin-bottom: 2px !important; /* override 4px from description */
}

:root:not([lwt-tree]) #conv-top-info {
  appearance: none;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

.conv-nicklist-header,
.conv-logs-header-label {
  color: -moz-DialogText;
  background-color: -moz-Dialog;
  padding-inline-start: 3px;
}

.conv-nicklist-header-label {
  font-weight: bold;
  margin-inline: 0 2px !important;
}

#nicklist > richlistitem[inactive][selected] > label {
  color: -moz-cellhighlighttext !important;
}

richlistitem[is="chat-group-richlistitem"] .twisty {
  margin-inline-end: 2px;
}

.startChatBubble > .button-box > .button-icon,
.closeConversationButton > .button-box > .button-icon {
  margin-inline-end: 0;
}

.conv-hbox {
  -moz-box-align: center;
}

#setStatusTypeMenupopup .menu-iconic-icon,
#imAccountsStatus .menu-iconic-icon,
#appmenu_imAccountsStatus .menu-iconic-icon {
  visibility: visible;
}

.otr-container {
  border-top: 1px solid var(--splitter-color);
  min-height: 32px;
  padding: 4px;
}

.otr-label {
  font-weight: 600;
}

.otr-not-private > image {
  list-style-image: url("chrome://messenger/skin/icons/connection-insecure.svg");
}

.otr-unverified > image {
  list-style-image: url("chrome://messenger/skin/icons/connection-mixed.svg");
}

.otr-finished > image {
  list-style-image: url("chrome://chat/skin/otr-connection-finished.svg");
}

.otr-private > image {
  list-style-image: url("chrome://chat/skin/otr-connection-encrypted.svg");
}

.otr-button {
  appearance: none !important;
  padding: 1px !important;
  border: 1px solid var(--toolbarbutton-hover-bordercolor);
  border-radius: var(--toolbarbutton-border-radius);
  background: var(--toolbarbutton-hover-background) !important;
  box-shadow: var(--toolbarbutton-hover-boxshadow);
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  -moz-context-properties: fill;
  fill: currentColor;
}

.otr-button:hover {
  color: inherit;
}

.otr-button:not([disabled="true"]):not([open="true"]):hover {
  background: var(--toolbarbutton-active-background) !important;
  border-color: var(--toolbarbutton-active-bordercolor);
}

.otr-button[open="true"] {
  background: var(--toolbarbutton-active-background) !important;
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
}

.otr-button > image {
  margin-inline-end: 3px !important;
  width: 14px;
}

.otr-button .toolbarbutton-menu-dropmarker {
  appearance: none !important;
  list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg");
  margin-left: 0;
  margin-right: 0;
  margin-inline-start: 3px;
}
